// get params


    params.reference
    params.simrep
    params.genes
    params.unmatched
    params.assembly
    params.seqtype
    params.filter
    params.tumour
    params.normal
    

// set machine type

//machine type
process {
    withName:CGPPINDEL {
        machineType = 'mem3_ssd1_v2_x4'
  }
}

//parallel run ??
executor {
    queueSize = 99
}